# **Dataset's Target**
In Bank Churn dataset, the credit limit is one of the variables that determining whether the customer will churn/attrition or stay. 

In this code i will do hypothesis testing to know whether the credit limit average between male and female is equal or not. To do that, we need fifty samples (n=50). Therefore, we use hypothesis testing z-test. 

To know whether the credit limit average between male and female is equal we use two sample hypothesis.

# **Import Library**

In [ ]:
import pandas as pd
import numpy as np
from statsmodels.stats.weightstats import ztest
import scipy.stats as stats

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# **Load Data**

In [ ]:
cc = pd.read_csv('https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/BankChurners.csv')
cc.filter(items=['CLIENTNUM','Attrition_Flag', 'Gender', 'Credit_Limit']).head()

   CLIENTNUM     Attrition_Flag Gender  Credit_Limit
0  768805383  Existing Customer      M       12691.0
1  818770008  Existing Customer      F        8256.0
2  713982108  Existing Customer      M        3418.0
3  769911858  Existing Customer      F        3313.0
4  709106358  Existing Customer      M        4716.0

# **Hypothesis Testing with Two-Sample Z-test**

In [ ]:
#Calculate the credit limit mean
avg_CL = cc.iloc[:, 13:14].mean()
print(avg_CL)

#Obtain variable for Gender Male (M) & Female (F)
CL_m = cc.loc[cc['Gender'] == 'M']
CL_f = cc.loc[cc['Gender'] == 'F']

#Create sample variable for Gender Male (M) & Female (F)
sample_m = CL_m['Credit_Limit'].sample(n=50)
sample_f = CL_f['Credit_Limit'].sample(n=50)

#z-test function
ztest, pvalue = ztest(x1=sample_m, x2=sample_f, value=0, alternative='two-sided')
print('ztest: {} and pvalue: {}'.format(ztest, pvalue))

#Confidence interval (CI) & alpha 
CI = 0.95
alpha = 1-0.95

print()
#Condition for accepting / rejecting H0
if pvalue < alpha:
  print("Reject Hypothesis")
  print("Pvalue {} < alpha {}".format(round(pvalue,2), round(alpha,2)))
  
else:
  print("Accept Hypothesis")
  print("Pvalue {} > alpha {}".format(round(pvalue,2), round(alpha,2)))

Credit_Limit    8631.953698
dtype: float64
ztest: 3.0188044856864513 and pvalue: 0.0025377424647624685

Reject Hypothesis
Pvalue 0.0 < alpha 0.05

# **Summary**

Since the Pvalue is far away below the alpha value, then the hypothesis is **rejected**. It means that the credit limit average between male and female customer is **different**.